* {
    margin: 0;
    padding: 0;
   
}
html {
    height: 100vh;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( #658e75 0%, #1a4855 100% );
    background-repeat: no-repeat;
    color: #f9f9f9;
}

header {
    height: 83px;
    width: 1120px;
    display: flex;
    margin: auto;
    gap: 800px; /* mudar*/
    align-items: center;
}
.image-icons {
    display: flex;
    gap: 35px;
}
main {
    height: 439px;
    display: flex;
    align-items: center;
    width: 1120px;
    margin: auto;
    gap: 20px;
}
.text-main {
    display: flex;
    flex-direction: column;
    
}
.text-main h3 {
    margin-bottom: 14px;
    font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}

.text-main h1 {
    margin-bottom: 25px;
    font-family: Poppins;
font-size: 68px;
font-style: normal;
font-weight: 900;
line-height: 74px;
letter-spacing: 0em;
text-align: left;

}
.text-main p {
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 46px;

}
.buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
    gap: 20px;
    transform: skew(-20deg);



}

.buttons .one-button {
    background-color: #74a7a0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1px;

} 
.buttons img {
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.buttons button {
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

background-color: #4c7e77;

    width: 225px;
    height: 45px;
    color: #f9f9f9;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #f9f9f9;

}